<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

        <div class="row container py-y my-5 text-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        title
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Quantity
                        </h5>
                    </div>
                </div>
            </div>
        </div>
</body>

<%- include('../partials/footer') %>

</html>