<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

        <div class="jumbotron my-5 py-5">
            <h1 class="display-4">Sorry</h1>
            <p class="lead">Technical error</p>
            <hr class="my-4" />
            <p>We are working on it</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
</body>

<%- include('../partials/footer') %>

</html>