<% if(err.length > 0){ %>
    <% err.forEach(function (ERR) { %>

        <div class="alert alert-warning alert-dismissible fade show" id="MSG" role="alert">
            <p>
                <%=ERR.msg%>
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>
        <%}) %>
            <%} %>